PORT=3000
# TODO: Bug #3 - DB_PATH is undefined, candidate must define it
DB_PATH=./database.sqlite # Variable definida :)
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=user@example.com
SMTP_PASS=password
